@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*Assumes 1em = 16px*/


/* Common Styles */

:root {
    --primary-color: #434171;
    --secondary-color: #fff;
    --primary-darker: #2c2b4b;
    --primary-lighter: #6662cf;
}

html {
    color: var(--secondary-color);
    font-family: Ubuntu, Arial, sans-serif;
    font-size: 100%;
    line-height: 1.5em;
    text-align: center;
    text-rendering: optimizeLegibility;
    min-width: 320px;
}

body {
    background: var(--primary-color);
    margin: 0;
}

a:visited {color: inherit;}

h1 {
    font-size: 2.125em;
    letter-spacing: .0156em;
}

h2 {
    font-size: 1.5em;
    line-height: 1em;
    margin: 1em .5em;
}

p {letter-spacing: .03125em;}

.subtitle {
    font-size: 1.25em;
    font-weight: 500;
    letter-spacing: .009em;
    opacity: .8;
}

.visuallyhidden {display: none;}



/* Navigation Styles */

#navbar {
    background: var(--primary-color);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 3em;
    width: 100%;
    margin:  0;
    padding: 0;
}

#navbar a {
    position: relative;
    color: var(--secondary-color);
    text-decoration: none;
}

.nav-link {
    flex: 1 1 30%;
    max-width: calc(30em/3);
}

.nav-link a::after {
    content: " ";
    border-bottom: 1px var(--secondary-color) solid;
    height: 100%;
    width: 0%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 300ms ease-out;
}

.nav-link a:hover::after {width: 100%;}



/* Welcome Section Styles */

#welcome-section {
    background-color: var(--secondary-color);
    background-image: url("img/code_start.svg") , url("img/code_end.svg");
    background-repeat: no-repeat;
    background-position: center top, center 95%;
    background-size: 200px auto;
    color: #434171;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    margin-top: 2.5em;
    padding: 0 .8em;
}



/* Projects Section Styles */

.projects-container {margin: 1.5em auto;}

.project-tile {
    position: relative;
    max-width: 32em;
    margin: 1em auto;
    padding: 0  .5em;
}

.project-img {
    display: block;
    height: auto;
    width: 100%;
}

.project-info {
    background:  var(--primary-darker);
    height: auto;
    padding: 1em 0;
    text-align: center;
}

.project-info p {
    margin-top: 0;
    padding:    0 2em;
}

.btn {
    display: inline-block;
    background: var(--primary-lighter);
    color: var(--secondary-color);
    height: 2.25em;
    width:  4em;
    line-height: 2.25em;
    margin:  0 auto;
    padding: 0 1em;
    text-decoration: none;
}

.btn:hover {
    background: #fff;
    color: var(--primary-color);
}



/* Contact Section Styling */

#contact {
    background: var(--secondary-color);
    color: var(--primary-darker);
    padding: 1em 0 2em;
}

.social-button {
    display: inline-block;
    background: var(--primary-darker);
    border-radius: 50%;
    line-height: 1;
    width: 2.5em;
    margin: .5em 1em;
    padding: .5em;
}

.social-button svg {
    fill: var(--secondary-color);
    width: 100%;
}

.social-button:hover {
    background: var(--primary-lighter);
    transition: background-color 300ms ease-in-out;
}



/* Footer Styling */

footer {font-size: 0.8em;}





/* Media Queries */

@media only screen and (min-width: 48em){

    .grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(auto, 1fr));
        gap: 0 1em;
        padding: 0 1.5em;
    }

    .projects-container {
        max-width: 60em;
    }

    .project-tile {
        display: flex;
        flex-direction: column;
    }

    .project-info {
        flex: 1 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

 @media only screen and (hover: hover) {
    
    .project-img {border-radius: .5em;}

    .project-info {
        position: absolute;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        left: 0;
        top:  0;
        z-index: 1;
        height: calc(100% - 2em);
        width:  calc(100% - 1em);
        margin: 0 .5em;
        border-radius: .4em;
        opacity: 0;
        transition: all 300ms ease;
    }

    .project-info:hover {opacity: .97;}
}

@media only screen and (min-width: 68em) {
    #welcome-section {
        background-position: 10% center, 90% center;
    }
}